node_modules/
.expo/
.expo-shared/
dist/
npm-debug.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
.idea/
scripts/serviceAccountKey.json
.env
node_modules